Repository GlacioHack/xdem: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-to-conda, add-license-header

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: .github/scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

add-license-header:
  name: Add License Header
  entry: python .github/scripts/apply_license_header.py
  language: python

test: tests for terrain attribute in multiprocessing
  tests/test_terrain.py
Due: add-license-header

feat: add multiproc possibility for terrain attribute calculation
  tests/test_multiproc.py
  xdem/dem.py
  xdem/multiproc.py
  xdem/terrain.py
Due: add-license-header

more upgrades
  NOTICE
  dev-environment.yml
  doc/source/coregistration.md
  environment.yml
  tests/test_coreg/test_base.py
  tests/test_coreg/test_blockwise.py
  xdem/coreg/blockwise.py
Due: pip-to-conda, add-license-header

ci3
  .github/workflows/pip-checks.yml
Due: none

Add min, max, mean and median filters (#711)
  AUTHORS.md
  tests/test_filters.py
  xdem/filters.py
Due: add-license-header

Update with geoutils 0.1.15
  dev-environment.yml
  environment.yml
  requirements.txt
  xdem/coreg/base.py
Due: pip-to-conda, add-license-header

Update with geoutils 0.1.16
  dev-environment.yml
  environment.yml
  requirements.txt
Due: pip-to-conda

Update with point cloud changes
  xdem/coreg/base.py
  xdem/coreg/blockwise.py
  xdem/dem.py
  xdem/spatialstats.py
Due: add-license-header

Update with GeoUtils 0.1.16 (#718)
  dev-environment.yml
  environment.yml
  requirements.txt
  xdem/coreg/base.py
Due: pip-to-conda, add-license-header

Change to NumPy 2 for MyPy linting
  .pre-commit-config.yaml
Due: none

Add NumPy 2 support (#717)
  .pre-commit-config.yaml
  dev-environment.yml
  environment.yml
  requirements.txt
  tests/test_terrain.py
  tests/test_volume.py
  xdem/_typing.py
  xdem/terrain.py
  xdem/volume.py
Due: pip-to-conda, add-license-header

Add Python 3.13 support
  .github/workflows/pip-checks.yml
  .github/workflows/python-tests.yml
  CONTRIBUTING.md
  Makefile
  dev-environment.yml
  environment.yml
  setup.cfg
Due: pip-to-conda

feat: add get_terrain_attribute_multiproc
  xdem/dem.py
Due: add-license-header

complete docstrings
  xdem/multiproc.py
Due: add-license-header

feat: tiled terrain attribute computing
  xdem/multiproc.py
Due: add-license-header

tests: add tests for multiproc funcs
  tests/test_multiproc.py
Due: add-license-header

fix: geoutils multiprocessing update
  tests/test_terrain.py
  xdem/dem.py
  xdem/terrain.py
Due: add-license-header

docs: add multiprocessing for terrain attributes
  doc/source/terrain.md
Due: none

fix: multiproc imports
  xdem/dem.py
  xdem/terrain.py
Due: add-license-header

update multiproc
  xdem/dem.py
  xdem/terrain.py
Due: add-license-header

fix: move mp_config param to the end
  tests/test_terrain.py
  xdem/dem.py
  xdem/terrain.py
Due: add-license-header

docs: update
  doc/source/terrain.md
Due: none

Automate package finding
  .github/workflows/pip-checks.yml
  setup.cfg
Due: none

Use automatic `packages.find` listing to avoid forgetting `setuptools` modules (#720)
  .github/workflows/pip-checks.yml
  setup.cfg
Due: none

Add multiprocessing for terrain attribute calculation (#704)
  doc/source/terrain.md
  tests/test_terrain.py
  xdem/dem.py
  xdem/terrain.py
Due: add-license-header

delete nmad
  xdem/spatialstats.py
Due: add-license-header

modify nmad path
  examples/advanced/plot_blockwise_coreg.py
  examples/advanced/plot_deramp.py
  examples/advanced/plot_heterosc_estimation_modelling.py
  examples/advanced/plot_norm_regional_hypso.py
  examples/advanced/plot_standardization.py
  examples/advanced/plot_variogram_estimation_modelling.py
  examples/basic/plot_nuth_kaab.py
  tests/test_coreg/test_blockwise.py
  tests/test_coreg/test_workflows.py
  tests/test_spatialstats.py
  xdem/coreg/affine.py
  xdem/coreg/base.py
  xdem/coreg/workflows.py
  xdem/dem.py
Due: add-license-header

deprecate nmad
  xdem/spatialstats.py
Due: add-license-header

fix: minor
  tests/test_coreg/test_workflows.py
Due: add-license-header

simplify imports
  xdem/dem.py
  xdem/terrain.py
Due: add-license-header

Switch the `nmad` of xDEM to the `nmad` of GeoUtils (#716)
  examples/advanced/plot_blockwise_coreg.py
  examples/advanced/plot_deramp.py
  examples/advanced/plot_heterosc_estimation_modelling.py
  examples/advanced/plot_norm_regional_hypso.py
  examples/advanced/plot_standardization.py
  examples/advanced/plot_variogram_estimation_modelling.py
  examples/basic/plot_nuth_kaab.py
  tests/test_coreg/test_blockwise.py
  tests/test_coreg/test_workflows.py
  tests/test_spatialstats.py
  xdem/coreg/affine.py
  xdem/coreg/base.py
  xdem/coreg/workflows.py
  xdem/dem.py
  xdem/spatialstats.py
  xdem/terrain.py
Due: add-license-header

feat: new blockwise for large data
  tests/test_coreg/test_blockwise.py
  xdem/coreg/blockwise.py
Due: add-license-header

minor: pre-commit
  tests/test_coreg/test_base.py
  tests/test_coreg/test_blockwise.py
  xdem/coreg/blockwise.py
Due: add-license-header

test: fix
  tests/test_coreg/test_blockwise.py
Due: add-license-header

environment management
  .github/workflows/pip-checks.yml
  dev-environment.yml
  requirements.txt
Due: pip-to-conda

robustifying ransac + script
  doc/source/coregistration.md
  environment.yml
  examples/advanced/plot_blockwise_coreg.py
  tests/test_coreg/test_blockwise.py
  xdem/coreg/blockwise.py
Due: pip-to-conda, add-license-header

Path conditions:
  pip-to-conda: any of: ^(environment.yml|requirements.txt)$
  add-license-header: any of: \.py$
