Repository GlacioHack/xdem: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-to-conda, add-license-header

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: .github/scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

add-license-header:
  name: Add License Header
  entry: python .github/scripts/apply_license_header.py
  language: python

Fix SciPy warnings and errors
  tests/test_coreg/test_biascorr.py
Due: add-license-header

Fix SciPy warnings and errors (#678)
  tests/test_coreg/test_biascorr.py
Due: add-license-header

test: remove richdem dependency, import ground truth from xdem-data
  setup.cfg
  tests/conftest.py
  tests/test_terrain.py
Due: add-license-header

test: remove gdal dependency, import ground truth from xdem-data
  .gitignore
  Makefile
  tests/conftest.py
  tests/test_terrain.py
Due: add-license-header

fix: restore Makefile without richdem and gdal
  Makefile
  dev-environment.yml
Due: none

test: remove gdal in test_affine, import ground truth from xdem-data
  tests/conftest.py
  tests/test_coreg/test_affine.py
Due: add-license-header

fix: remove duplication for downloading data and test data
  tests/conftest.py
  xdem/examples.py
Due: add-license-header

test: minor
  tests/conftest.py
  tests/test_terrain.py
Due: add-license-header

fix: modify url and commit hash for downloading examples and ground truths
  xdem/examples.py
Due: add-license-header

Remove GDAL and RichDEM dependancy from tests (#675)
  .gitignore
  Makefile
  dev-environment.yml
  setup.cfg
  tests/conftest.py
  tests/test_coreg/test_affine.py
  tests/test_terrain.py
  xdem/examples.py
Due: add-license-header

fix: makefile test section
  Makefile
Due: none

Remove GDAL from Makefile tests (#680)
  Makefile
Due: none

feat: governance files
  AUTHORS.md
  CODE-OF-CONDUCT.md
  GOVERNANCE.md
  doc/source/authors.md
Due: none

feat: add roi in DEM class parameters
  xdem/dem.py
Due: add-license-header

docs: add statistics in dem_class
  doc/source/dem_class.md
Due: none

docs: add ROI to dem_class
  doc/source/dem_class.md
Due: none

update following geoutils update
  doc/source/dem_class.md
  xdem/dem.py
Due: add-license-header

Incremental commit on ICP
  dev-environment.yml
  environment.yml
  tests/test_coreg/test_affine.py
  xdem/coreg/__init__.py
  xdem/coreg/affine.py
  xdem/coreg/base.py
Due: pip-to-conda, add-license-header

Quick fixé
  .github/workflows/pip-checks.yml
  .github/workflows/python-tests.yml
Due: none

Temporary fix to intermittent setup-miniconda issues in CI (#684)
  .github/workflows/pip-checks.yml
  .github/workflows/python-tests.yml
Due: none

feat: enable no vertical shift in NuthKaab coreg
  xdem/coreg/affine.py
Due: add-license-header

feat: add cluster file
  xdem/cluster.py
Due: add-license-header

test: add cluster tests
  tests/test_cluster.py
Due: add-license-header

test: test Nuth and Kaab without vertical shift
  tests/test_coreg/test_affine.py
Due: add-license-header

feat: add apply_vshift to the CoregDict parameters
  xdem/coreg/affine.py
  xdem/coreg/base.py
Due: add-license-header

fix: update vshift directly in the NuthKaab class, rename variable
  tests/test_coreg/test_affine.py
  xdem/coreg/affine.py
Due: add-license-header

Add Option to Disable Vertical Shift in Nuth and Kääb Coregistration (#687)
  tests/test_coreg/test_affine.py
  xdem/coreg/affine.py
  xdem/coreg/base.py
Due: add-license-header

docs: update stats and crop
  doc/source/dem_class.md
Due: none

fix: change geoutils version
  dev-environment.yml
  environment.yml
  requirements.txt
Due: pip-to-conda

Add Governance and code of conduct files (#682)
  AUTHORS.md
  CODE-OF-CONDUCT.md
  GOVERNANCE.md
  doc/source/authors.md
Due: none

Update documentation for ROI and stats (#676)
  dev-environment.yml
  doc/source/dem_class.md
  environment.yml
  requirements.txt
  xdem/dem.py
Due: pip-to-conda, add-license-header

Update version 0.1.1
  setup.cfg
Due: none

Update version 0.1.1 (#690)
  setup.cfg
Due: none

feat: moove blockwise coregistration
  doc/source/api.md
  doc/source/biascorr.md
  doc/source/coregistration.md
  examples/advanced/plot_blockwise_coreg.py
  tests/test_coreg/test_base.py
  tests/test_coreg/test_blockwise.py
  xdem/coreg/__init__.py
  xdem/coreg/base.py
  xdem/coreg/blockwise.py
Due: add-license-header

test: forget warp_dem
  tests/test_coreg/test_blockwise.py
Due: add-license-header

Add CPD
  tests/test_coreg/test_affine.py
  tests/test_coreg/test_base.py
  xdem/coreg/affine.py
Due: add-license-header

Path conditions:
  pip-to-conda: any of: ^(environment.yml|requirements.txt)$
  add-license-header: any of: \.py$
