Repository GlacioHack/xdem: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-to-conda, add-license-header

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: .github/scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

add-license-header:
  name: Add License Header
  entry: python .github/scripts/apply_license_header.py
  language: python

Incremental commit on Rosenholm and Torlegard
  xdem/coreg/affine.py
Due: add-license-header

Finalize LZK, CPD and add parameter descriptions
  pyproject.toml
  tests/test_coreg/test_affine.py
  xdem/coreg/__init__.py
  xdem/coreg/affine.py
  xdem/coreg/base.py
  xdem/filters.py
Due: add-license-header

feat: tiled terrain attribute computing
  xdem/multiproc.py
Due: add-license-header

Save file with driver COG (#691)
  xdem/coreg/workflows.py
Due: add-license-header

complete docstrings
  xdem/multiproc.py
Due: add-license-header

feat: add get_terrain_attribute_multiproc
  xdem/dem.py
Due: add-license-header

tests: add tests for multiproc funcs
  tests/test_multiproc.py
Due: add-license-header

docs: add get_terrain_attribute_multiproc in doc
  doc/source/api.md
  doc/source/terrain.md
Due: none

feat: moove blockwise coregistration
  tests/test_coreg/test_base.py
  tests/test_coreg/test_blockwise.py
  xdem/coreg/__init__.py
  xdem/coreg/base.py
  xdem/coreg/blockwise.py
Due: add-license-header

Creation of a file for Blockwise (#700)
  tests/test_coreg/test_base.py
  tests/test_coreg/test_blockwise.py
  xdem/coreg/__init__.py
  xdem/coreg/base.py
  xdem/coreg/blockwise.py
Due: add-license-header

Use consistent matrix to trans/rot conversion, add only_translation option, fix other options and add tests
  dev-environment.yml
  pyproject.toml
  requirements.txt
  tests/test_coreg/test_affine.py
  tests/test_coreg/test_base.py
  xdem/coreg/__init__.py
  xdem/coreg/affine.py
  xdem/coreg/base.py
  xdem/filters.py
Due: pip-to-conda, add-license-header

Most linting
  tests/test_coreg/test_affine.py
  xdem/coreg/affine.py
  xdem/coreg/base.py
Due: add-license-header

Finalize last options, tests and documentation
  doc/source/api.md
  doc/source/coregistration.md
  tests/test_coreg/test_affine.py
  tests/test_coreg/test_base.py
  tests/test_coreg/test_biascorr.py
  tests/test_filters.py
  xdem/coreg/affine.py
  xdem/coreg/base.py
Due: add-license-header

Linting
  doc/source/coregistration.md
  tests/test_coreg/test_affine.py
  xdem/coreg/affine.py
  xdem/coreg/base.py
Due: add-license-header

Fix env
  environment.yml
Due: pip-to-conda

Fully remove OpenCV
  NOTICE
  examples/advanced/plot_norm_regional_hypso.py
  tests/test_coreg/test_base.py
  tests/test_coreg/test_blockwise.py
  tests/test_misc.py
  xdem/misc.py
  xdem/volume.py
Due: add-license-header

Linting
  requirements.txt
  tests/test_coreg/test_base.py
  tests/test_coreg/test_blockwise.py
  xdem/misc.py
  xdem/volume.py
Due: pip-to-conda, add-license-header

Fix tests related to old OpenCV routines
  doc/source/coregistration.md
  examples/advanced/plot_norm_regional_hypso.py
  tests/test_coreg/test_blockwise.py
  tests/test_ddem.py
Due: add-license-header

Linting
  tests/test_coreg/test_blockwise.py
Due: add-license-header

Remove prints, refine doc
  doc/source/citation.md
  doc/source/coregistration.md
Due: none

Linting and final doc adjustments
  doc/source/citation.md
Due: none

Small changes to doc and print fix
  doc/source/coregistration.md
  xdem/coreg/affine.py
Due: add-license-header

feat: new blockwise for large data
  xdem/coreg/__init__.py
  xdem/coreg/scaled_blockwise.py
Due: add-license-header

feat: add multiproc possibility for terrain attribute calculation
  tests/test_multiproc.py
  xdem/dem.py
  xdem/multiproc.py
  xdem/terrain.py
Due: add-license-header

test: tests for terrain attribute in multiprocessing
  tests/test_terrain.py
Due: add-license-header

Use a string to define the driver for saving file instead of a boolean (#691)
  xdem/coreg/workflows.py
Due: add-license-header

minor: readapt with multiproc
  xdem/coreg/scaled_blockwise.py
Due: add-license-header

feat: save coreg res
  xdem/coreg/scaled_blockwise.py
Due: add-license-header

Add a compression parameter and a default value (#691)
  xdem/coreg/workflows.py
Due: add-license-header

adapt apply
  xdem/coreg/blockwise.py
  xdem/coreg/scaled_blockwise.py
Due: add-license-header

feat: add min, max, mean and median filters
  xdem/filters.py
Due: add-license-header

test: add tests for min, max, mean and median filters
  tests/test_filters.py
Due: add-license-header

start new blockwise
  xdem/coreg/blockwise.py
Due: add-license-header

Fix pip CI
  .github/workflows/pip-checks.yml
  .github/workflows/python-tests.yml
  xdem/examples.py
Due: add-license-header

Linting
  xdem/examples.py
Due: add-license-header

Bump dependency to geoutils to 0.1.14
  dev-environment.yml
  environment.yml
  requirements.txt
Due: pip-to-conda

Update with geoutils 0.1.14
  dev-environment.yml
  environment.yml
  requirements.txt
  tests/test_dem.py
Due: pip-to-conda, add-license-header

Update with GeoUtils 0.1.14 (#713)
  dev-environment.yml
  environment.yml
  requirements.txt
  tests/test_dem.py
Due: pip-to-conda, add-license-header

Fix pip CI checks and remove `distutils` implicit dependency (#712)
  .github/workflows/pip-checks.yml
  .github/workflows/python-tests.yml
  xdem/examples.py
Due: add-license-header

Update version to `0.1.3`
  setup.cfg
Due: none

Path conditions:
  pip-to-conda: any of: ^(environment.yml|requirements.txt)$
  add-license-header: any of: \.py$
